
@using Bookstore.Models;

@{  Layout = "~/Views/Layout/_main.cshtml";



}


<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href='@Url.Action("index", "Home")'>Home</a>
        <span class="breadcrumb-item active">Cart</span>
    </div>
</div>

<section class="static about-sec">
    <div class="container">
        <!--checkout-->
        <div class="innerf-pages section">
            <div class="container">
                <div class="privacy about">


                    <div class="checkout-right">

                        <table class="timetable_sub table-responsive">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>


                            <tbody>



                                @foreach (var cart in (List<Cart__>)Session["Cart"])
                                {


                                    <tr class="rem1">
                                        <td class="invert-image">
                                            <a>
                                                <img src='@Url.Content("~/images/" + cart.RecentBook.Image)' alt=" " class="img-responsive" />
                                            </a>
                                        </td>
                                        <td class="invert">
                                            @cart.Quantity
                                        </td>
                                        <td class="invert">@cart.RecentBook.RecentBook1 </td>
                                        <td class="invert">$@cart.RecentBook.Price</td>
                                        <td class="invert">

                                            @Html.ActionLink("x", "Delete", "Cartt", new { id = cart.RecentBook.Id },
                        new { onClick = "return confirm('Are you sure you want to delete this? ')" })

                                        </td>


                                    </tr>
                                }



                            </tbody>

                        </table>
                    </div>
                    <div class="checkout-left">
                        <div class="col-md-4 checkout-left-basket">
                            <h4>Continue to basket</h4>

                            <ul>
                                @foreach (var cart in (List<Cart__>)Session["Cart"])
                                {
                                    <li>

                                        @cart.RecentBook.RecentBook1
                                        <i>-</i>
                                        <span>@(String.Format("{0:N0}", cart.RecentBook.Price * cart.Quantity))</span>*
                                    </li>
                                }
                                <li>
                                    Total
                                    <i>-</i>
                                    @{
                                        List<Cart__> temp = (List<Cart__>)Session["Cart"];
                                        var total = String.Format("{0:N0}", temp.Sum(x => x.Quantity * x.RecentBook.Price));
                                        var count = temp.Count();

                                    }
                                    <span> $@total</span>
                                
                                </li>
                            </ul>
                            <h4> @Html.ActionLink("Continue Shopping", "Index", "Home")</h4>
                        </div>

                        <div class="clearfix"> </div>

                    </div>

                </div>

            </div>
        </div>
        <!--//checkout-->
    </div>


</section>
